/* Paleta de Cores */
:root {
    --cor-primaria: #91563E;
    --cor-secundaria: #E9E9E8;
    --cor-texto-primaria: #3A493E;
    --cor-texto-secundaria: #A89F56;
}

/* Estilos Gerais */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor-secundaria);
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--cor-fundo); /* Utilizando a variável de cor de fundo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: var(--cor-texto-primaria);
}

/* ... Seus outros estilos ... */

.car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.car {
    width: 30%;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* ... Seus outros estilos ... */


/* Restante do seu CSS com as variáveis de cor */
.car {
    width: 30%;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid var(--cor-texto-secundaria);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.car img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: var(--cor-primaria);
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: firebrick;
}

/* Estilos para a área de detalhes do carrinho */
.carrinho {
    position: absolute;
    right: 0;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    
}


.carrinho h2 {
    text-align: center;
    color: var(--cor-texto-primaria);
}

.carrinho ul {
    list-style-type: none;
    padding: 0;
}

.carrinho li {
    margin-bottom: 10px;
    color: var(--cor-texto-secundaria);
}

#total {
    text-align: center;
    color: var(--cor-texto-primaria);
}

/* ... Código anterior ... */

.social-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #b9b9b9;
    height: 1.8rem;
    border: 1px solid var(--cor-texto-secundaria);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.rede-sociais{
    display: flex;
}
.social-icon {
    margin: 0 10px;
}

.social-icon img {
    width: 25px;
    height: 25px;
}

.navigation {
    margin-top: 20px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.navigation li {
    display: inline-block;
    margin: 0 15px;
}

.navigation a {
    text-decoration: none;
    color: var(--cor-texto-primaria);
    font-weight: bold;
    font-size: 16px;
}

/* ... Código anterior ... */
/* ... Código anterior ... */

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0px;
    margin-right: 10px;
}

.logo-marca {
    font-family: 'Times New Roman', serif; /* Ou escolha uma fonte clássica de sua preferência */
    font-size: 36px; /* Ajuste conforme necessário */
    font-weight: bold; /* Para destacar o termo "Motor" */
    color: #91563E; /* Cor primária ou outra de sua preferência */
    text-transform: uppercase; /* Para deixar em maiúsculas, se desejar */
}

.cart-icon img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.cart-icon:hover {
    opacity: 0.8;
}

/* ... Código anterior ... */
/* ... (seus estilos CSS existentes) ... */

/* ... (seus estilos CSS existentes) ... */

/* ... (seus estilos CSS existentes) ... */

.car button {
    background-color: var(--cor-primaria);
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 3px;
}

.car button {
    /* ... (seus estilos CSS existentes) ... */
    transition: background-color 0.3s ease;
}

.car button:hover {
    background-color: firebrick;
}

/*NOVA barra de contato*/
.barra-contato {
    background-color: #f9f9f9;
    padding: 20px 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--cor-texto-secundaria);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.info-contato,
.form-contato {
    flex: 1;
    padding: 0 20px;
}

.info-contato h3,
.form-contato h3 {
    color: #333;
    margin-bottom: 10px;
}

.info-contato ul {
    list-style-type: none;
    padding: 0;
}

.info-contato ul li {
    margin-bottom: 5px;
}

.form-contato input[type="text"],
.form-contato input[type="email"],
.form-contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-contato button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.form-contato button:hover {
    background-color: #555;
}

.slideshow-container {
    position: relative;
    max-width: auto;
    margin: 0;
    padding: 10px;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  .slide-img {
    width: 100%;
    height: 600px;
}

  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  


/* ... (seus estilos CSS existentes) ... */
/* Adicione estas media queries ao final do seu CSS */

/* Estilos para telas menores (como tablets) */
/* Estilos padrão para telas grandes (desktops) */

/* ... (seus estilos existentes) ... */

/* Media query para telas médias (tablets) */

@media only screen and (max-width: 768px) {
    .car {
        width: 45%; /* Ajuste conforme necessário */
    }

    /* Adicione mais estilos responsivos conforme necessário */
}

/* Media query para telas pequenas (dispositivos móveis) */
@media only screen and (max-width: 480px) {
    .car {
        width: 100%; /* Ocupa a largura total */
    }

    /* Adicione mais estilos responsivos conforme necessário */
}

/* Estilos para Dispositivos Móveis */
@media screen and (max-width: 600px) {
    
    .social-icon img {
        width: 20px;
        height: 20px;
    }

    .cart-icon img {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .carrinho h2 {
        font-size: 10px;
    }

    #total {
        font-size: 10px;
    }

    .logo-marca{
        font-size: 28px;
    }

    .navigation a{
        font-size: 12px;
    }
    .car {
        width: 100%; /* Altera a largura dos carros para 100% em telas menores */
    }

    .navigation {
        margin-top: 10px; /* Reduz a margem superior da navegação em telas menores */
    }

    .social-bar {
        padding: 5px; /* Reduz o preenchimento da barra social em telas menores */
    }

    .top-bar {
        align-items: baseline; /* Alinha os itens à esquerda em telas menores */
    }

    .cart-container {
        flex-direction: column; /* Altera a direção da flexão para coluna em telas menores */
        align-items: center; /* Alinha os itens ao centro em telas menores */
    }
}


